#btnAddNew {
    font-size: 18px;
    border-radius: 25px;
    padding: 12px;
}

.mainForm {
    background-color: rgba(127, 255, 212, 0.105);
    border: 2px solid rgba(255, 0, 0, 0.300);
    padding: 12px;
    width: 100%; 
    max-width: 1440px;
    padding: 10px 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: none;
    margin: 0 auto;
}

.fsNote {
    display: flex;
    flex-direction: column;
    border: none;
}

#titNote {
    width: 50%;
    padding: 3px;
    margin-bottom: 8px;
}

#txtNote {
    height: 100px;
    padding: 6px;
    width: 100%;
    resize: none;
}

.fsAttribute {
    margin-bottom: 8px;
    border-left: none;
    border-right: none;
}

#radStatus {
    display: flex;
}

.fsAttribute input {
    margin-right: 18px;
    margin-left: 6px;
    cursor: pointer;
}

#action {
    max-width: 1440px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#action button {
    padding: 8px;
    font-size: 14px;
    border-radius: 25px;
    border: 1px solid;
}