#secBasket {
    width: 300px;
    right: 0;
    border: 1px solid #FD5B4F;
    display: flex;
    flex-direction: column;
}

#artBasket {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0px;
    min-height: 100vh;
}

#headerBasket {
    position: sticky;
    top: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;
    background: white;
}

#headerBasket svg {
    width: 30px;
    height: 30px;
}

#headerBasket h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artOrder {
    padding: 8px;
}

.infoArtOrder {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.ctrAmount {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ctr {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding-bottom: 5px;
}

#artInvoice {
    padding: 8px;

}

.invoice {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 6px;
}

#divTotal {
    margin-bottom: 60px;
    padding: 12px;
}

#artKase {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FD5B4F;
    width: 298px;
    background-color: white;
}

#btnBuy {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

#btnBuy:hover {
    background-color: #fd5b4f1e;
    height: 52px;

}

#btnBuy svg {
    width: 30px;
    height: 30px;
}

@media (max-width: 720px) {

    #secBasket.open {
        transform: translateY(0);
    }

    #secBasket {
        position: fixed;
        top: 72.8px;
        bottom: 0;
        width: 100%;
        max-height: 90vh;
        background-color: white;
        z-index: 1000;
        transform: translateY(88%);
        transition: transform 0.175s ease-in-out;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }

    #headerBasket {
        background-color: rgb(127, 255, 212);
        cursor: pointer;

    }

    #mainBasket {
        overflow-y: auto;
    }

    #artKase {
        position: sticky;
        bottom: 0px;
        width: 100%;
        z-index: 1001;
    }

}