#main {
    max-width: 1440px;
    margin: 0 auto;
    /* height: 100vh; */
    /* flex: 1; */
    display: flex;
    background-color: rgba(0, 0, 255, 0.23);

}

/* secMeals
secOrder */
#secMeals {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.143);
    min-height: 900px;
    width: calc(100% - 300px);
}

#secBasket {
    /* display: flex;
    flex-direction: column; */
    background-color: rgba(76, 0, 255, 0.15);
    width: 300px;
    right: 0;
    border: 1px solid #FD5B4F;
    /* flex: 1; */
    flex-grow: 1;
}

#artBasket {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

#headerBasket {
    padding: 8px;
    /* font-size: large; */
    align-self: center;
}

#mainBasket {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.artOrder {
    padding: 8px;
    border-top: 1px solid black;
    border-bottom: 1px solid;
}

.infoDish {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctrAmount {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ctr {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: none;
}

.icoDelete {
    color: #FD5B4F;
    display: flex;
    align-items: center;
}

#footerBasket {}





/* 
article {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 220px;
    background-color: rgb(127 255 212 / 22%);
    justify-content: space-between;
    border-radius: 12px;
}

article:hover {
    border: 1px solid red;
}

#secActive {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

#secArchive {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-between;
}

.btnDelete {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btnArchive {
    padding: 4px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.titPar,
.txtPar {
    white-space: normal;
    padding: 4px;
    word-wrap: break-word;
}

.titPar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(127, 255, 212, 0.712);
}

.footerContainer {
    height: 60px;
    display: flex;
    background-color: #032B35;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;

} */