#main {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
}

#secMeals {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.143);
    min-height: 1400px;
    width: calc(100% - 300px);
}


/* Section Basket start */

#secBasket {
    width: 300px;
    right: 0;
    border: 1px solid #FD5B4F;
}


#artBasket {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

/* ------- */

#headerBasket {
    padding: 12px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;

}

#headerBasket svg {
    width: 30px;
    height: 30px;
}

#headerBasket h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ------- */
#mainBasket {
    /* flex-grow: 1; */
}
.artOrder {
    padding: 8px;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid; */
}

.infoDish {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.ctrAmount {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ctr {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: none;
}

.icoDelete {
    color: #FD5B4F;
    display: flex;
    align-items: center;
}

#artInvoice {
    padding: 8px;

}


.invoice {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 6px;
}


#secFooterBasket {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    /* flex-grow: 1; */

}
#artTotal{
    flex-grow: 1;
    flex: 1;

}

.separtor {
    height: 2px;
    background-color: #FD5B4F;
}

#toKase {
    /* position: relative; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 12px;
    background-color: #f1f1f1;
}


