#secMeals {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

#mainImg {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}

#mainMeals {
    margin: 0;
    padding: 0 10px;
    background-color: rgba(127, 255, 212, 0.125);
}

#Kategorien {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}

.imgKategor {
    height: 80px;
    border-radius: 100%;
}

.Kategor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .Kategor:hover{ */
.imgKategor:hover {
    padding: 3px;
    cursor: pointer;
    border: 2px solid #FD5B4F;
    border-radius: 100%;
}

.onSelect {
    padding: 3px;
    border: 2px solid #FD5B4F;
    border-radius: 100%;
    color: #FD5B4F;
}

.formDesh{
display: flex;
justify-content: space-between;
margin: 12px 0;
/* border: 1px solid rgb(127, 255, 212, 0.712); */
border: 1px solid red;
padding: 6px ;
}
.imgDesh{
    height: 220px;
}
