* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #FD5B4F;
    text-decoration: none;
}

button {
    border: none;
    color: #FD5B4F;

}

button:hover {
    cursor: pointer;
    /* border: 1px solid red; */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(127, 255, 212, 0.596);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 255, 212);
}

.dNonoe {
    display: none;
}

.maxWidth {
    width: 100%;
}

.CT {
    color: #FD5B4F;
    cursor: pointer;
}

.separtor {
    height: 2px;
    background-color: #FD5B4F;
}

.onSelected {
    padding: 3px;
    border: 2px solid #FD5B4F;
    /* border-radius: 100%; */
    /* color: #FD5B4F; */
}
#main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}


.ctr:hover,
.icoDelete:hover,
.btnAddMeale:hover,
.imgCategory:hover {
    padding: 3px;
    /* padding-top: 9px; */
    /* padding-bottom: 16px; */
    cursor: pointer;
    border: 2px solid #FD5B4F;
    border-radius: 100%;
}